$emerald-200: #a7f3d0;

@mixin green-border {
  border: 2px solid;
  border-color: #00d4924d;
}

.SwipeToEnter {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  align-items: center;
  justify-content: center;
  // overflow: hidden;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    display: none; // Ocultamos porque ahora usamos BackgroundEffects
  }

  &__content {
    position: relative;
    z-index: 10;

    .card {
      background: #1d321a9a;
      backdrop-filter: blur(20px);
      border-radius: 20px;
      padding: 2rem;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
      text-align: center;
      @include green-border;
    }
  }
}

// Animaciones
@keyframes float {

  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }

  33% {
    transform: translateY(-20px) rotate(120deg);
  }

  66% {
    transform: translateY(10px) rotate(240deg);
  }
}

@keyframes contractSlider {
  0% {
    transform: scaleX(1);
    opacity: 1;
  }

  60% {
    transform: scaleX(0);
    opacity: 0;
  }

  100% {
    transform: scaleX(0);
    opacity: 0;
    height: 0;
    margin-bottom: 0;
    padding: 0;
  }
}



// Estilos removidos para permitir que Tailwind controle los espaciados