@use '../colors' as *;
@use '../mixins' as *;
@use '../design-tokens' as *;
@use '../variables' as *;

.category-page {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $space-4;
  padding-right: $space-4;
  padding-bottom: $space-12;
  background: transparent;

  @include tablet {
    padding-left: $space-6;
    padding-right: $space-6;
  }

  @include desktop {
    padding-left: $space-8;
    padding-right: $space-8;
  }

  &__loading,
  &__empty {
    @include flex-center;
    padding-top: $space-10;
    padding-bottom: $space-10;
  }

  &__loading {
    color: $gray-600;
  }

  &__spinner {
    @include spinner;
    height: 3rem;
    width: 3rem;
    border-bottom-width: 4px;
    border-bottom-color: $brand-primary-500;
    border-radius: 9999px;
  }

  &__empty {
    color: $gray-500;
  }

  &__empty-text {
    @include text-lg;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 1rem;
    padding: 1.5rem;
    max-width: 1400px;
    margin: 0 auto;

    @media (min-width: 768px) {
      padding: 1.5rem 2rem;
    }

    @media (min-width: 1024px) {
      padding: 2rem 3rem;
    }
  }
}
