@use '../colors' as *;
@use '../mixins' as *;
@use '../variables' as *;

.product-list {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem 3rem;

  @include tablet {
    padding: 0 1.5rem 3rem;
  }

  @include desktop {
    padding: 0 2rem 3rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }

    @include xl {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__loading {
    height: 5rem;
    @include flex-center;
    margin-top: 2rem;
  }

  &__loading-dots {
    display: flex;
    gap: 0.5rem;
  }

  &__loading-dot {
    width: 0.75rem;
    height: 0.75rem;
    background: $brand-primary-500;
    border-radius: 50%;
    animation: bounce 1s ease-in-out infinite;

    &:nth-child(1) {
      animation-delay: 0ms;
    }

    &:nth-child(2) {
      animation-delay: 150ms;
    }

    &:nth-child(3) {
      animation-delay: 300ms;
    }
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
