// SwipeToEnter now uses the Swiper component
// All swiper styles have been moved to Swiper.scss

.content-wrapper {
  opacity: 0;

  &--fade-in {
    animation: fadeInContent 0.6s ease-out forwards;
  }
}

@keyframes fadeInContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}